
@{
    ViewData["Title"] = "ViewBagSample";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string stringOutput = ViewBag.Haribo;
}

<h1>ViewBagSample</h1>


@stringOutput
<br />
@ViewBag.Volvic;

