
@{
    ViewData["Title"] = "ViewDataSample";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string strOutput = ViewData["def"].ToString();
}

<h1>ViewDataSample</h1>

@ViewData["abc"].ToString();

@strOutput

